FUNCTIONS

1-Build in function

2-user defined functions------- Defining(explain the context of sales and marketing) the function and calling (by name) function

create a function which add any two number

In [1]:
def add(a,b):
  s=a+b
  print(s)

In [2]:
add(20,30)

50

In [3]:
add(99,111)

210

In [4]:
add(666,999)

1665

create a function which add any three given number

In [5]:
def add(a,b,c):
  s=a+b+c
  print(s)

In [6]:
add(66,44,99)

209

create a function which display whole number output of division operation on 2 number

In [7]:
def div(a,b):
  s=a//b  #whole number as output
  print(s)

In [8]:
div(99,3)

33

In [9]:
div(7,2)

3

create a function which display addition,substraction,multiplication and division 2 number

In [10]:
def compute(a,b):
  p=a+b
  q=a-b
  r=a*b
  s=a/b
  print(p,q,r,s)

In [11]:
compute(44,55)

99 -11 2420 0.8

Create a function which take age and name from the user and display the age of the person

In [12]:
def person(name,age):
  print("hi, your age is",age)

In [13]:
person("mubasshir",19)

hi, your age is 19

Create a function which takes name and salary as input from the user and display the name and salary of the person.

in case the salary is not mentioned, take default salary is 15,000

In [14]:
def data(name,salary=15000):
  print("hie",name,"your current salary is ",salary, "per month")

In [15]:
data("rahi",)

hie rahi your current salary is  15000 per month

In [16]:
data("mubasshir",45000)

hie mubasshir your current salary is  45000 per month

create a function which add all the element givens in a list of numbers

In [17]:
def add_num(numbers):
  sum=0

  for i in numbers:
    sum=sum+i

  print(sum)

In [18]:
add_num((25,6))

31

In [19]:
add_num((22,55,44,66))

187

In [20]:
add_num([45,66,84,53])

248

create a function which display the larger number out of three goven number

In [21]:
def number(a,b,c):
  if a>b and a>c:
    print(a,"is greater than ",b,c)
  elif b>a and b>c:
    print(b, "is greater than ",a,c)
  else:
     print(c,"is greater than ",a,b)

In [22]:
number(5,6,7)

7 is greater than  5 6

In [24]:
number(9,8,7)

9 is greater than  8 7

In [25]:
number(6,8,7)

8 is greater than  6 7

create a function which compute area and circumference of a circle

In [26]:
#circumference = 2*3.14*r
#area=3.14*r**2
def radius(a):
  c=2*3.14*a
  d=3.14*a**2
  print("circumference is ",c,"and area is ",d)

In [27]:
radius(5)

circumference is  31.400000000000002 and area is  78.5

In [28]:
radius(2)

circumference is  12.56 and area is  12.56

In [29]:
radius(7)

circumference is  43.96 and area is  153.86

create a function which compute area and perimeter of rectangle

In [30]:
def side(l,b):
  c=2*l+2*b
  d=l*b
  print("perimeter of rectangle is ",c,"and area is ",d)

In [31]:
side(8,6)

perimeter of rectangle is  28 and area is  48

In [32]:
side(44,55)

perimeter of rectangle is  198 and area is  2420

In [33]:
side(64,5)

perimeter of rectangle is  138 and area is  320

create a function which display all the even number given in the list of number in a seperate list

In [34]:
def even(numbers):
  l2=[]  
  for i in numbers:
    if i%2==0:
      l2.append(i)
  print(l2)

In [35]:
even([23,55,64,33,77,88,99,54,75,56])

[64, 88, 54, 56]

Create a function which counts the number of vowels and consonants in a given word

In [36]:
def count(word):
  vowels_count=0
  consonent_count=0

  for i in range(len(word)):
    if word[i] in ("a","A","e","E","i","I","o","O","u","U"):
      vowels_count=vowels_count+1

    else:
      consonent_count=consonent_count+1

  print("number of vowels is ",vowels_count ,"and number of consonent is ",consonent_count)

In [37]:
count("Mubasshir")

number of vowels is  3 and number of consonent is  6

In [38]:
count(" my india")

number of vowels is  3 and number of consonent is  6

In [39]:
def count(word):
  vowels_count=0
  consonent_count=0

  for i in word:
    if i in ("a","A","e","E","i","I","o","O","u","U"):
      vowels_count=vowels_count+1

    else:
      consonent_count=consonent_count+1

  print("number of vowels is ",vowels_count ,"and number of consonent is ",consonent_count)

In [40]:
count("mubasshir")

number of vowels is  3 and number of consonent is  6

Type of argument

1. Default argument

2. Arbitrary argument

3. Keyword arguments

4. Arbitrary keyword argument

Default arguments

create a function which greets "good morning" to the customer by using his/her name.

incase the name is not provided, call the customer by the name "user"

In [41]:
def func(name='user'):
  print("good morning", name)

In [42]:
func()

good morning user

Arbitrary arguments

1. Here the number of parameter are known to us

2. In order to accept any number of parameters from the user, we use *symbol along with the name of the parameter

3. Arbitrary argument are also called as *args

In [44]:
def func1(*child):
   print("youngest child is ",child[2])

In [45]:
func1("mubasshir","rahman","ruana","sayam","sayan")

youngest child is  ruana

In [46]:
def greet(*name):
  for i in name:
    print("good morning", name)

In [47]:
greet('ravi')

good morning ('ravi',)

In [48]:
greet('mubassir','rahman')

good morning ('mubassir', 'rahman')
good morning ('mubassir', 'rahman')

Keyword arguments

1. Here the number of parameters are known to us.

2. While calling the function we provide input in the form of key value pair.

3. Order of parameter does not play a role.

In [49]:
def func2(child3, child1, child2):
  print("youngest child is",child3)

In [50]:
func2(child1='Ram', child2='Shyam', child3='Meera')

youngest child is Meera

Arbitrary Keyword Argument

1. Here the number of parameters are unknown to us.

2. While calling the function, we provide the input in the form of key value pair

3. We use ** symbol along with the name of the parameter.

4. Arbitrary keyword arguments are also called **kwargs

In [51]:
def func3(**names):
   print('his last name',names['lname'])

In [52]:
func3(fname='Ashutosh',mname='Kumar',lname='Mishra')

his last name Mishra

In [53]:
func3(fname='Abhishek',lname='Singh')

his last name Singh

In [54]:
func3(fname='Kunal',lname='NONE')

his last name NONE