LOOP

2 TYPE- WHILE AND FOR LOOP

while loop

print 1 to 10

In [1]:
a=1                           #
while a<=10:
      print(a)
      a=a+1

1
2
3
4
5
6
7
8
9
10

for loop

In [2]:
#print no. 1 to 10

In [3]:
for i in range(1,11):   #i statnd for iteration, its a term of only for loop not while loop
    print(i)

1
2
3
4
5
6
7
8
9
10

value of a

In [4]:
a=7
b=5
while a<9:
  print(a+b)
  a=a+1

12
13

how may time the loop is going to get executed

In [6]:
c=0
while c<20:
  print(c)
  c=c+2

0
2
4
6
8
10
12
14
16
18

print first 10 number

In [7]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

take a list of your choice and display the element one by one

In [8]:
l1=[4,5,6,2,'india','israel',5,9,3]

In [9]:
for i in l1:
  print(i)

4
5
6
2
india
israel
5
9
3

Take a list of numbers and square all the elements given in the list

In [10]:
l1=[2,3,4,5,8,7,9]

for i in l1:
  print(i*i)

4
9
16
25
64
49
81

Take a list of numbers and display all the even number from the list

In [11]:
l1=[42,59,81,23,78,34,99,45,67,23,34,66]

In [12]:
for i in l1:
  if i%2==0:
    print(i)

42
78
34
34
66

Take a list of numbers and display the count of even number

In [13]:
l2=[42,59,81,23,78,34,99,45,67,23,34,66]

In [14]:
count=0 #counter

for i in l2:
  if i%2==0:
    count=count+1 #if there is an even number , the counter will increment itself by 1
print('the total number of even number in the list are', count)

the total number of even number in the list are 5

Take a list of number and display the count of both even and odd number

In [15]:
l2=[42,59,81,23,78,34,99,45,67,23,34,66]

count=0
count1=0

for i in l2:
  if i%2==0:
    count=count+1
  else:
    count1=count1+1
print('the total number of even number in the list are', count)
print(' the total number of odd number in the list are', count1)

the total number of even number in the list are 5
 the total number of odd number in the list are 7

Take a number as input from the user and display the multiplication table(till 10)for that number

In [16]:
num=int(input('enter the number'))
for i in range(1,11):
  print(num*i)

enter the number5
5
10
15
20
25
30
35
40
45
50

Calculate the sum and average of all the number from 1 to a given number by the user

In [17]:
num=int(input('enter the number'))
sum=0
for i in range(1,num+1):
   sum=sum+i
print('sum of the number is',sum)
print('average of number is',sum/num)

enter the number25
sum of the number is 325
average of number is 13.0