Build in Function

#how to execute the code cell?
#ctrl+enter
#shift+enter
#use the play button

In [ ]:
name="Mubasshir"

In [ ]:
type(name)

str

In [ ]:
a=35.28

In [ ]:
type(a)

float

In [ ]:
print(a)

35.28

In [ ]:
b=-40

In [ ]:
print(b)

-40

In [ ]:
type(b)

int

In [ ]:
l1=[35,40,-20,'india','israel','us']

In [ ]:
print(l1)

[35, 40, -20, 'india', 'israel', 'us']

In [ ]:
type(l1)

list

In [ ]:
a=45
b=20
print(a>b)

True

In [ ]:
type(a>b)

bool

In [ ]:
print(a<b)

False

In [ ]:
type(a<b
     )

bool

In [ ]:
#comment

In [ ]:
name=input("enter your name")

enter your nameMubasshir

In [ ]:
print(name
    )

Mubasshir

In [ ]:
#type casting

In [ ]:
otp=int(input("enter otp "))

enter otp 9873

In [ ]:
type(otp)

int

In [ ]:
temp=float(input("enter temp of your city"))

enter temp of your city23.5

In [ ]:
type(temp)

float

Concatination

In [ ]:
#string
a='my'
b='india'

In [ ]:
print(a+" "+b)

my india

In [ ]:
#list
l1=[1,22,33,44,55,66]
l2=['india', 'us' , 'china']

In [ ]:
print(l1+l2)

[1, 22, 33, 44, 55, 66, 'india', 'us', 'china']

In [ ]:
name=input("enter your name ")
a="hi"
b="how are you?"
c="please have a seat"

print(name+" "+a+" "+b+" "+c)

enter your name mubasshir
mubasshir hi how are you? please have a seat

2. Indexing-
  fetch one element at a time from list/strings
  * index nos- 1. -ve - strt from right hand side and start with -1
              2. +ve- always start from zero

In [ ]:
#strings
a='Indian Ocean'

In [ ]:
a[3]

'i'

In [ ]:
a[9]

'e'

In [ ]:
a[-4]

'c'

In [ ]:
a[0]

'I'

In [ ]:
#list
l1=['india','china','bhuttan',45,30,30.25,-400]

In [ ]:
l1[3]

45

In [ ]:
l1[-3]

30

In [ ]:
l1[-5]

'bhuttan'

In [ ]:
l1[6]

-400

In [ ]:
len(l1)

7

SLICING-
fetch more than 1 element at a time
[x:y:c]:- x is starting point and inclusive in nature, y is where i m going to stop and exclusive in nature"y-1" & c is step size

In [ ]:
#string
a='United Nations'

In [ ]:
a[0:6]

'United'

In [ ]:
a[7:]

'Nations'

In [ ]:
a[-7:]

'Nations'

In [ ]:
a[:]

'United Nations'

In [ ]:
a[:4]

'Unit'

In [ ]:
a[:-3]

'United Nati'

In [ ]:
b=a[7:]
c=a[0:6]
print(b+" "+c)

Nations United

In [ ]:
a[-1:-14]

''

In [ ]:
a[-14:-1]

'United Nation'

In [ ]:
a[-11:-5]

'ted Na'

In [ ]:
a[:-10]

'Unit'

In [ ]:
a[-6:-1]

'ation'

In [ ]:
print(a)

United Nations

In [ ]:
a[0:6:2]

'Uie'

In [ ]:
a[4:9:3]

'eN'

In [ ]:
a[7::3]

'Nis'

In [ ]:
b="Indian Ocean"

In [ ]:
b[1:9:3]

'naO'

In [ ]:
b[1:9:4]

'nn'

In [ ]:
p='prime'
l=['monday','tuesday']
print(p+l)

TypeError: ignored

In [ ]:
q=list(p) #the string datatype converted to list datatype

In [ ]:
print(q+l)

['p', 'r', 'i', 'm', 'e', 'monday', 'tuesday']

**Nested list**

l1=[india, uk, france, germany,[delhi,mumbai,varanasi]]

In [ ]:
l1=['India','US','UK','Germany',['Delhi','Mumbai','Varanasi']]

In [ ]:
l1[4][0]

'Delhi'

In [ ]:
l1[4][0:2]

['Delhi', 'Mumbai']

In [ ]:
l1[4][0:]

['Delhi', 'Mumbai', 'Varanasi']

In [ ]:
l1[4][0::2]

['Delhi', 'Varanasi']

In [ ]:
l2=['mango','banana','grapes',['pune','hyderabad','bangalore'],['datascience','Machinelearning']]

In [ ]:
print(l2[4][1]+','+l2[3][1]+','+l2[3][2]+','+l2[1]+','+l2[2])

Machinelearning,hyderabad,bangalore,banana,grapes

In [ ]:
a=l2[4][1]
b=l2[3][2]
c=l2[3][1]
d=l2[2]
e=l2[1]

print(a+','+b+','+c+','+d+','+e)

Machinelearning,bangalore,hyderabad,grapes,banana

# **Built in Functions-LISTS**

In [71]:
l1=['AI','NLP','Computer Vision','Datascience']

In [72]:
l1.append('Deeplearning') #will add the element at the end of the list

In [73]:
print(l1)

['AI', 'NLP', 'Computer Vision', 'Datascience', 'Deeplearning']

In [74]:
l1.insert(3,'NLP') #will add the element at the desired index position

In [75]:
print(l1)

['AI', 'NLP', 'Computer Vision', 'NLP', 'Datascience', 'Deeplearning']

In [76]:
l2=[34,35,89,90]

In [77]:
l2.append(900)

In [78]:
print(l2)

[34, 35, 89, 90, 900]

In [79]:
l2.insert(2,200)

In [80]:
print(l2)

[34, 35, 200, 89, 90, 900]

In [81]:
print(l1)

['AI', 'NLP', 'Computer Vision', 'NLP', 'Datascience', 'Deeplearning']

In [82]:
l1.remove('NLP') #will delete the firstoccurance of the given element

In [83]:
print(l1)

['AI', 'Computer Vision', 'NLP', 'Datascience', 'Deeplearning']

In [84]:
l1.pop(3) #will delete the element from the desired index position

'Datascience'

In [85]:
print(l1)

['AI', 'Computer Vision', 'NLP', 'Deeplearning']

In [86]:
l1.extend(['statistic','algebra','r programming'])

In [87]:
print(l1)

['AI', 'Computer Vision', 'NLP', 'Deeplearning', 'statistic', 'algebra', 'r programming']

In [88]:
len(l1)  #will count the total number in the list

7

In [89]:
len(l2)

6

In [90]:
l3=[67,78,34,67,22,90,56,78,67,12]

In [91]:
len(l3)

10

In [92]:
l3.count(67)  #will count the frequency of the given element

3

In [93]:
l3.count(90)

1

In [94]:
max(l3)

90

In [95]:
min(l3)

12

In [96]:
sum(l3)

TypeError: ignored

In [102]:
l3.sort() #arrange in ascending order

In [103]:
print(l3)

[12, 22, 34, 56, 67, 67, 67, 78, 78, 90]

In [97]:
l1=['india','china','russia','USA']

In [98]:
l1[::-1]

['USA', 'russia', 'china', 'india']

In [99]:
l1[::-2]

['USA', 'china']

In [100]:
a='indian ocean'

In [101]:
a[::-1]

'naeco naidni'

#**Data Structure**

2 type- 

*Mutuable(Modification is possible)

-list[]

-dictionaries{}

*IMMUTABLE(Modification is not possible)

-tuple()

-set*{}

#DICTIONARIES- identify by { }

-> key : value pair

In [39]:
memo={'notebook':90,'chocolate':80,'pens':40,'chips':20}

In [40]:
print(memo)

{'notebook': 90, 'chocolate': 80, 'pens': 40, 'chips': 20}

In [41]:
type(memo)

dict

In [42]:
#Slicing is not supporting in dictionaries
#fecting one value at a time is possible by making use of keys(and not index number)

In [43]:
memo['chips']

20

In [44]:
memo['chocolate']

80

In [45]:
#adding new key value pair in the dict
memo['cold drink']=100

In [46]:
print(memo)

{'notebook': 90, 'chocolate': 80, 'pens': 40, 'chips': 20, 'cold drink': 100}

In [47]:
memo['pens']=120

In [48]:
print(memo)

{'notebook': 90, 'chocolate': 80, 'pens': 120, 'chips': 20, 'cold drink': 100}

In [49]:
memo['maggi']=50

In [50]:
print(memo)

{'notebook': 90, 'chocolate': 80, 'pens': 120, 'chips': 20, 'cold drink': 100, 'maggi': 50}

In [51]:
memo['cold drink']=90

In [52]:
print(memo)

{'notebook': 90, 'chocolate': 80, 'pens': 120, 'chips': 20, 'cold drink': 90, 'maggi': 50}

In [53]:
memo['notebook']=120

In [54]:
print(memo)

{'notebook': 120, 'chocolate': 80, 'pens': 120, 'chips': 20, 'cold drink': 90, 'maggi': 50}

In [55]:
#deleting existing pairs from dictionaries
del memo['chips'] #keys are used

In [56]:
print(memo)

{'notebook': 120, 'chocolate': 80, 'pens': 120, 'cold drink': 90, 'maggi': 50}

In [57]:
memo.pop('pens')

120

In [58]:
print(memo)

{'notebook': 120, 'chocolate': 80, 'cold drink': 90, 'maggi': 50}

In [59]:
memo['chips']=20

In [60]:
print(memo)

{'notebook': 120, 'chocolate': 80, 'cold drink': 90, 'maggi': 50, 'chips': 20}

In [61]:
#merging two list into one dictionary

In [62]:
l1=['name','age','salary','occupation'] #keys
l2=['BOB','29','40000','developer'] #values

In [63]:
dict_new=dict(zip(l1,l2))

In [64]:
print(dict_new)

{'name': 'BOB', 'age': '29', 'salary': '40000', 'occupation': 'developer'}

In [65]:
dict_new['salary']=50000

In [66]:
print(dict_new)

{'name': 'BOB', 'age': '29', 'salary': 50000, 'occupation': 'developer'}

In [67]:
dict_new['city']='new york'

In [68]:
print(dict_new)

{'name': 'BOB', 'age': '29', 'salary': 50000, 'occupation': 'developer', 'city': 'new york'}

In [69]:
del dict_new['age']

In [70]:
print(dict_new)

{'name': 'BOB', 'salary': 50000, 'occupation': 'developer', 'city': 'new york'}

#TUPLE

In [32]:
t=('india','usa',65,90,35.5,-30,-75.45)

In [33]:
print(t)

('india', 'usa', 65, 90, 35.5, -30, -75.45)

In [34]:
type(t)

tuple

In [35]:
t[3]

90

In [37]:
t[-4]

90

In [38]:
t[2:4]

(65, 90)

#SET

In [28]:

s={'india','usa',65,90,35.5,-30,-75.45}

In [29]:
print(s)  #random inner shuffling

{65, -30, 'usa', 35.5, 'india', -75.45, 90}

In [30]:
#set will not allow indexing and slicing

In [31]:
print(s)

{65, -30, 'usa', 35.5, 'india', -75.45, 90}

#Conditional Statement

In [17]:
x=int(input('enterthw vwluw for x'))
y=int(input('enter the value of y'))

if x>y:
  print('x is greater than y')
elif x==y:
  print('x and y are equal')  
else:
   print('x isless than y')

enterthw vwluw for x25
enter the value of y15
x is greater than y

take age as input from the user and check if the candidate is eligible for voting or not(voting age= 18 yrs)

In [18]:
age=int(input('enter your age'))
if age>=18:
  print('candidate is eligible for voting')
else:
  print('candidate is not eligible for voting')

enter your age25
candidate is eligible for voting

Take length and breath of a rectangle as input and check if the rectangle is a square or not

In [19]:
lenght=float(input('lenght of rectangle '))
breath=float(input('breath of rectangle'))
if lenght==breath:
  print('rectangle is square')
else:
  print('rectangle is not square')

lenght of rectangle 25
breath of rectangle15
rectangle is not square

In a fare, the entry fee is 0 rupees for children less than 4 years of age. Entry fee 100 rupees if the age is between 4-18 yeas and if the age is more than 18 years, the entry fee is 175 rupees

take age as input from the user and display the ticket price

In [20]:
age=int(input('enter your age '))
if age<4:
  print('entry fees is 0 rupee')
elif 4<=age<=18:
  print('entry fees is 100 rupee')
else:
  print('entry fees is 175 rupees')

enter your age 5
entry fees is 100 rupee

Take a number as input from the user and check if it is perfectly divisible by 2,3, and 7 or not

In [21]:
#perfectly divisible mean remainder is zero
number=int(input('enter the number'))
if number%2==0:
  print('perfectly divisible by 2')
else:
  print('not divisible by 2')
if number%3==0:
  print('perfectly divisible by 3')
else:
  print('not divisible by 3')
if number%7==0:
  print('perfectly divisible by 7')
else:
  print('not divisible by 7')

enter the number15
not divisible by 2
perfectly divisible by 3
not divisible by 7

Take a number as input from the user and check if the number is even or odd

In [22]:
#even number is perfectly divisible by 2 i.e. remainder is 0
num=int(input('enter your number'))
if num%2==0:
  print('number is even')
else:
  print('number is odd')

enter your number45
number is odd

The owner of a company decides to give bonus of 5%to employees who have been working in the company for 5 years or more.
Take current salary and years of experience with the current company as input and print the incremented salary (if any)

In [23]:
current_salary=int(input('enter your salary'))
years=int(input('enter your years of experience'))
if years>=5:
  print('your incremented salary is',current_salary+5/100*current_salary)
else:
  print('no incremented salary')

enter your salary45
enter your years of experience7
your incremented salary is 47.25

A grocery store allows 20% discount on items purchase worth more than 2000 rupees. Considering price of each commodity to be uniform-200 rupees. calculate the discounted price to be paid at the end 

take number of items purchase as input from the user

In [24]:
item=int(input('number of items'))
if item>10:
  print('discounted price to be paid is',item*200-0.20*item*200)
else:
  print('no discount ,total purchase is',item*200)

number of items5
no discount ,total purchase is 1000

take a number as input

In [25]:
x=int(input('enter the number'))
if x>10:
  
  if x>20:
    print('x is greater than 20')
  else:
    print('x is less than 20 but greater than 10')
else:
  print('x is less than 10')

enter the number10
x is less than 10

take a number as input from the user and check if the number is +ve,-ve or 0

In [26]:
x=int(input('enter the number'))
if x>0:
  if x>0:
    print('number is positive')
  else:
    print('number is zero')

else:
  print('number is negative')

enter the number25
number is positive

take a number as input from the user and check if it is +ve or -ve. in either case check if the number is even number or an odd number

In [27]:
x=int(input('enter the number'))
if x>=0:
  if x%2==0:
    print('the number is positive even')
  else:
    print('the number is positive odd')
else:
  if x%2==0:
    print('the number is negative even')
  else:
    print('the number is negative odd')

enter the number25
the number is positive odd

#LOOP

2 TYPE- WHILE AND FOR LOOP

##while loop

print 1 to 10

In [1]:
a=1                           #
while a<=10:
      print(a)
      a=a+1

1
2
3
4
5
6
7
8
9
10

##for loop

In [2]:
#print no. 1 to 10

In [3]:
for i in range(1,11):   #i statnd for iteration, its a term of only for loop not while loop
    print(i)

1
2
3
4
5
6
7
8
9
10

value of a

In [4]:
a=7
b=5
while a<9:
  print(a+b)
  a=a+1

12
13

how may time the loop is going to get executed

In [5]:
c=0
while c<20:
  print(c)
  c=c+2

0
2
4
6
8
10
12
14
16
18

print first 10 number

In [6]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

take a list of your choice and display the element one by one

In [7]:
l1=[4,5,6,2,'india','israel',5,9,3]

In [8]:
for i in l1:
  print(i)

4
5
6
2
india
israel
5
9
3

Take a list of numbers and square all the elements given in the list

In [9]:
l1=[2,3,4,5,8,7,9]

for i in l1:
  print(i*i)

4
9
16
25
64
49
81

Take a list of numbers and display all the even number from the list

In [10]:
l1=[42,59,81,23,78,34,99,45,67,23,34,66]

In [11]:
for i in l1:
  if i%2==0:
    print(i)

42
78
34
34
66

Take a list of numbers and display the count of even number

In [12]:
l2=[42,59,81,23,78,34,99,45,67,23,34,66]

In [13]:
count=0 #counter

for i in l2:
  if i%2==0:
    count=count+1 #if there is an even number , the counter will increment itself by 1
print('the total number of even number in the list are', count)

the total number of even number in the list are 5

Take a list of number and display the count of both even and odd number

In [14]:
l2=[42,59,81,23,78,34,99,45,67,23,34,66]

count=0
count1=0

for i in l2:
  if i%2==0:
    count=count+1
  else:
    count1=count1+1
print('the total number of even number in the list are', count)
print(' the total number of odd number in the list are', count1)

the total number of even number in the list are 5
 the total number of odd number in the list are 7

Take a number as input from the user and display the multiplication table(till 10)for that number

In [15]:
num=int(input('enter the number'))
for i in range(1,11):
  print(num*i)

enter the number5
5
10
15
20
25
30
35
40
45
50

Calculate the sum and average of all the number from 1 to a given number by the user

In [16]:
num=int(input('enter the number'))
sum=0
for i in range(1,num+1):
   sum=sum+i
print('sum of the number is',sum)
print('average of number is',sum/num)

enter the number25
sum of the number is 325
average of number is 13.0

#Statement

1. PASS

2.BREAK

3.CONTINUE

In [ ]:
#pass - it makes the code segment inactive
x=int(input('enter a number'))
y=int(input('enter a number'))

if x>y:
  print('x is greater than y')

else:
  pass #if y>x then no output

enter a number25
enter a number55

In [ ]:
#break-forcebly come out of the loop
fruits=['mango','apple','pineapple','guava','grapes']

for i in fruits:
  if i=="pineapple":
    break

  print(i)

mango
apple

In [ ]:
name='Indian Ocean'

for i in name:
  if i=='O':
    break
  print(i)

I
n
d
i
a
n

In [ ]:
#continue-the element which is in the condition gets skipped but the loop will not iteration
fruits=['mango','apple','pineapple','guava','grapes']

for i in fruits:
  if i=="pineapple":
    continue

  print(i)

mango
apple
guava
grapes

In [ ]:
name='Indian Ocean'

for i in name:
  if i=='O':
    continue   
  print(i)

I
n
d
i
a
n

c
e
a
n

Display all the number between 1 to 10 except 3 and 7

In [ ]:
for i in range(1,11):
  if i== 3 or i== 7:
    continue
  print(i)

1
2
4
5
6
8
9
10

Take a list of numbers and append the square  in the seperate list

In [ ]:
l1=[2,3,4,5,8,7,6]
l2=[]  #empty list

for i in l1:
  square=i*i
  l2.append(square)
print(l2)

[4, 9, 16, 25, 64, 49, 36]

In [ ]:
l1=[2,3,4,5,8,7,6]
l2=[]  #empty list

for i in l1:
  if i%2==0:
    square=i*i
    l2.append(square)
print(l2)

[4, 16, 64, 36]

#FUNCTIONS

1-Build in function

2-user defined functions------- Defining(explain the context of sales and marketing)  the function and calling (by name) function

create a function which add any two number

In [ ]:
def add(a,b):
  s=a+b
  print(s)

In [ ]:
add(20,30)

50

In [ ]:
add(99,111)

210

In [ ]:
add(666,999)

1665

create a function which add any three given number

In [ ]:
def add(a,b,c):
  s=a+b+c
  print(s)

In [ ]:
add(66,44,99)

209

create a function which display whole number output of division operation on 2 number

In [ ]:
def div(a,b):
  s=a//b  #whole number as output
  print(s)

In [ ]:
div(99,3)

33

In [ ]:
div(7,2)

3

create a function which display addition,substraction,multiplication and division 2 number

In [ ]:
def compute(a,b):
  p=a+b
  q=a-b
  r=a*b
  s=a/b
  print(p,q,r,s)

In [ ]:
compute(44,55)

99 -11 2420 0.8

Create a function which take age and name from the user and display the age of the person

In [ ]:
def person(name,age):
  print("hi, your age is",age)

In [ ]:
person("mubasshir",19)

hi, your age is 19

Create a function which takes name and salary as input from the user and display  the name and salary of the person.

in case the salary is not mentioned, take default salary is 15,000

In [ ]:
def data(name,salary=15000):
  print("hie",name,"your current salary is ",salary, "per month")

In [ ]:
data("rahi",)

hie rahi your current salary is  15000 per month

In [ ]:
data("mubasshir",45000)

hie mubasshir your current salary is  45000 per month

create a function which add all the element givens in  a list of numbers

In [ ]:
def add_num(numbers):
  sum=0

  for i in numbers:
    sum=sum+i

  print(sum)

In [ ]:
add_num((25,6))

31

In [ ]:
add_num((22,55,44,66))

187

In [ ]:
add_num([45,66,84,53])

248

create a function which display the larger number out of three goven number

In [ ]:
def number(a,b,c):
  if a>b and a>c:
    print(a,"is greater than ",b,c)
  elif b>a and b>c:
    print(b, "is greater than ",a,c)
  else:
     print(c,"is greater than ",a,b)

In [ ]:
number(5,6,7)

7 is greater than  5 6

In [ ]:
number(9,8,7)

9 is greater than  8 7

In [ ]:
number(6,8,7)

8 is greater than  6 7

create a function which compute area and circumference of a circle

In [ ]:
#circumference = 2*3.14*r
#area=3.14*r**2
def radius(a):
  c=2*3.14*a
  d=3.14*a**2
  print("circumference is ",c,"and area is ",d)

In [ ]:
radius(5)

circumference is  31.400000000000002 and area is  78.5

In [ ]:
radius(2)

circumference is  12.56 and area is  12.56

In [ ]:
radius(7)

circumference is  43.96 and area is  153.86

create a function which compute area and perimeter of rectangle

In [ ]:
def side(l,b):
  c=2*l+2*b
  d=l*b
  print("perimeter of rectangle is ",c,"and area is ",d)

In [ ]:
side(8,6)

perimeter of rectangle is  28 and area is  48

In [ ]:
side(44,55)

perimeter of rectangle is  198 and area is  2420

In [ ]:
side(64,5)

perimeter of rectangle is  138 and area is  320

create a function which display all the even number given in the list of number in a seperate list

In [ ]:
def even(numbers):
  l2=[]  
  for i in numbers:
    if i%2==0:
      l2.append(i)
  print(l2)

In [ ]:
even([23,55,64,33,77,88,99,54,75,56])

[64, 88, 54, 56]

Create a function which counts the number of vowels and consonants in a given word

In [ ]:
def count(word):
  vowels_count=0
  consonent_count=0

  for i in range(len(word)):
    if word[i] in ("a","A","e","E","i","I","o","O","u","U"):
      vowels_count=vowels_count+1

    else:
      consonent_count=consonent_count+1

  print("number of vowels is ",vowels_count ,"and number of consonent is ",consonent_count)

In [ ]:
count("Mubasshir")

number of vowels is  3 and number of consonent is  6

In [ ]:
count(" my india")

number of vowels is  3 and number of consonent is  6

In [ ]:
def count(word):
  vowels_count=0
  consonent_count=0

  for i in word:
    if i in ("a","A","e","E","i","I","o","O","u","U"):
      vowels_count=vowels_count+1

    else:
      consonent_count=consonent_count+1

  print("number of vowels is ",vowels_count ,"and number of consonent is ",consonent_count)

In [ ]:
count("mubasshir")

number of vowels is  3 and number of consonent is  6

#Type of argument

1. Default argument

2. Arbitrary argument

3. Keyword arguments

4. Arbitrary keyword argument

#Default arguments

create a function which greets "good morning" to the customer by using his/her name.

incase the name is not provided, call the customer by the name "user"

In [ ]:
def func(name='user'):
  print("good morning", name)

In [ ]:
func()

good morning user

#Arbitrary arguments

1. Here the number of parameter are known to us

2. In order to accept any number of parameters from the user, we use *symbol along with the name of the parameter

3. Arbitrary argument are also called as *args

In [ ]:
def func1(*child):
   print("youngest child is ",child[2])

In [ ]:
func1("mubasshir","rahman","ruana","sayam","sayan")

youngest child is  ruana

In [ ]:
def greet(*name):
  for i in name:
    print("good morning", name)

In [ ]:
greet('ravi')

good morning ('ravi',)

In [ ]:
 greet('mubassir','rahman')

good morning ('mubassir', 'rahman')
good morning ('mubassir', 'rahman')

Keyword arguments

1. Here the number of parameters are known to us.

2. While calling the function we provide input in the form of key value pair.

3. Order of parameter does not play a role.

In [ ]:
def func2(child3, child1, child2):
  print("youngest child is",child3)

In [ ]:
func2(child1='Ram', child2='Shyam', child3='Meera')

youngest child is Meera

Arbitrary Keyword Argument

1. Here the number of parameters are unknown to us.

2. While calling the function, we provide the input in the form of key value pair

3. We use ** symbol along with the name of the parameter.

4. Arbitrary keyword arguments are also called **kwargs

In [ ]:
 def func3(**names):
   print('his last name',names['lname'])

In [ ]:
func3(fname='Ashutosh',mname='Kumar',lname='Mishra')

his last name Mishra

In [ ]:
func3(fname='Abhishek',lname='Singh')

his last name Singh

In [ ]:
func3(fname='Kunal',lname='NONE')

his last name NONE

Recursion

Function which calls itself

1. Base case- terminate from recursion

2. Recursive case - calling itself 

e.g: Factorials:- 5!=5 * 4!= 5 * 4 * 3!= 5 * 4 * 3 * 2! = 5 * 4 * 3 * 2 * 1 =>120

create a function which calculates the factorial of a number

In [ ]:
def factorial(n):
   fact=1 
  if n==0 or n==1:
    print('factorial is 1')
  else:
    fact=fact*n
    print('factorial of given number is',n*factorial(n-1))

IndentationError: ignored

In [ ]:
factorial(15)

NameError: ignored

In [ ]:
 import math

In [ ]:
math.factorial(15)

1307674368000

In [ ]:
def factorial(n):

  if n<0:
    print(0)

  elif n==1 or n==0:
    print(1)  

  else:
    fact=1
    while n>1:
      fact=fact*n
      n=n-1
    print(fact)

In [ ]:
factorial(15)

1307674368000