Statement

1. PASS
2. BREAK
3. CONTINUE

In [59]:
#pass - it makes the code segment inactive
x=int(input('enter a number'))
y=int(input('enter a number'))

if x>y:
  print('x is greater than y')

else:
  pass #if y>x then no output

enter a number25
enter a number15
x is greater than y

In [60]:
#break-forcebly come out of the loop
fruits=['mango','apple','pineapple','guava','grapes']

for i in fruits:
  if i=="pineapple":
    break

  print(i)

mango
apple

In [61]:
name='Indian Ocean'

for i in name:
  if i=='O':
    break
  print(i)

I
n
d
i
a
n

In [62]:
#continue-the element which is in the condition gets skipped but the loop will not iteration
fruits=['mango','apple','pineapple','guava','grapes']

for i in fruits:
  if i=="pineapple":
    continue

  print(i)

mango
apple
guava
grapes

In [63]:
name='Indian Ocean'

for i in name:
  if i=='O':
    continue   
  print(i)

I
n
d
i
a
n

c
e
a
n

Display all the number between 1 to 10 except 3 and 7

In [64]:
for i in range(1,11):
  if i== 3 or i== 7:
    continue
  print(i)

1
2
4
5
6
8
9
10

Take a list of numbers and append the square in the seperate list

In [65]:
l1=[2,3,4,5,8,7,6]
l2=[]  #empty list

for i in l1:
  square=i*i
  l2.append(square)
print(l2)

[4, 9, 16, 25, 64, 49, 36]

In [66]:
l1=[2,3,4,5,8,7,6]
l2=[]  #empty list

for i in l1:
  if i%2==0:
    square=i*i
    l2.append(square)
print(l2)

[4, 16, 64, 36]